#container {
    width: 300px;
}
#jumbotron {
    height: 900px;
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: center;
}
#logo {
    height: 75px;
}
.form-control{
    height: 50px;
}